server:
  port: 8083

spring:
  cloud:
    gateway:
      routes:
        - id: reservas-service
          uri: http://reservas-service:8081/
          predicates:
            - Path=/api/reservas/**
        - id: usuarios-service
          uri: http://usuarios-service:8082/
          predicates:
            - Path=/api/usuarios/**
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:4200"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
            allowedHeaders: "*"
